<% # Reference Link: view-source:http://media.pragprog.com/titles/rails4/code/rails40/depot_r/app/views/order_notifier/shipped.html.erb %>
<h3>Pragmatic Order Shipped</h3>
<p>This is just to let you know that we've shipped your recent order:</p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
  </tr>
  <%= render @order.line_items, { :editable => false } %>
</table>