<%
# Reference Link: http://media.pragprog.com/titles/rails4/code/rails40/depot_o/app/views/orders/new.html.erb
%>
<div class="depot_form">
  <fieldset id="please_enter_your_details">
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>


<%= link_to 'Back', orders_path %>
