<% # Reference Link: http://media.pragprog.com/titles/rails4/code/rails40/depot_j/app/views/carts/_cart.html.erb %>
<h2>Your Cart</h2>
<table cellpadding="5" cellspacing="0" border="0">

  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="3">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>


<% if @is_checkout_page %>
  <%= button_to 'Checkout', new_order_path, method: :get %>
<% end %>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
