<!-- Reference Link: view-source:http://media.pragprog.com/titles/rails4/code/rails40/depot_k/app/views/carts/show.html.erb -->

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart</h2>

<%= render(@cart.line_items) %>
