// Reference Link: http://media.pragprog.com/titles/rails4/code/rails40/depot_k/app/assets/stylesheets/carts.css.scss

.carts,
#side #cart {
  .item_price,
  .total_line {
    text-align: right;
  }

  .total_line {
    .total_cell {
      font-weight: bold;
      border-top: 1px solid #595;
    }
  }
}