<% # Reference Link: http://media.pragprog.com/titles/rails4/code/rails40/depot_q/app/views/line_items/_line_item.text.erb %>

<%= sprintf("%2d x %s",
            line_item.quantity,
            truncate(line_item.product.title, length: 50)) %>