<% # Reference Link: view-source:http://media.pragprog.com/titles/rails4/code/rails40/depot_m/app/views/line_items/_line_item.html.erb %>
<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>

<% if @editable %>
  <td><%= button_to 'V', decrement_line_item_path(line_item), method: :put, remote: true %></td>
<% end %>
  <td><%= line_item.quantity %> &times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
