/* Reference Link: http://media.pragprog.com/titles/rails4/code/rails40/depot_p/app/views/line_items/create.js.erb */
$('#notice').hide();

if ($('#cart tr').length == 1) {
  $('#cart').show('blind', 1000, function(){
    $(this).removeAttr('style');
  });
}

$('#cart').html("<%= escape_javascript render(@cart) %>");
$('#current_item').css({'background-color':'#8f8'})
                  .animate({'background-color':'#141'}, 1000);
                  
