$('#cart').html('<%= escape_javascript render @cart %>');
$('#current_item').css({'background-color' : '#8f8'}).animate({'background-color' : '#141'}, 1000);
if ($('#cart tr').length==1) { $('#cart').hide('blind', 1000); }