<!--
  Reference Links:
    - view-source:http://media.pragprog.com/titles/rails4/code/rails40/depot_l/app/views/store/index.html.erb
    - number_to_currency: http://api.rubyonrails.org/classes/ActionView/Helpers/NumberHelper.html#method-i-number_to_currency
-->

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= link_to image_tag(product.image_url, {:class => "product-image",:title => "Push it into cart!"}),
                            line_items_path(:product_id => product),{:method => :post, :class => "product-image-link"} %>

        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<!-- One recommendation on the pragprog wiki [http://pragprog.com/wikis/wiki/Pt-D-3] is to use @count.to_i, but that seems pointless... what am i missing? -->
<% if @count %>
  <pre class="page-views">Page Viewed <strong><%= pluralize(@count, "time") %></strong> since last cart addition</pre>
<% end %>
<%= @time %>